__pycache__/
convergence_files/
*.err
*.out
**/tree/
**/.taskblaster
**/*.egg-info
calculations/backbone_structure/bandstructure/*.xyz
calculations/backbone_structure/bandstructure/bandstructure_*.png